body{
  background: #FFFFFF;
}

.topcoat-list__header {
  background-color: #d2d6d6;
}

.topcoat-list__item {
  background-color: #FFFFFF;
}

.topcoat-navigation-bar {
  height: 3.375rem;
  background: #002E60;
  color: #183A5E;
}

.topcoat-navigation-bar__title {
	color: #FFFFFF; /* Font Color */
}

.topcoat-navigation-bar__item {
  line-height: 3.375rem;
  color: #ffffff;
}

.topcoat-list__header.slot-header {
  background-color: #FECB00;
}

